# DATABASE URL
DATABASE_URL="postgresql://<user-psql>:<pass-psql>@localhost:5432/<db-name>?schema=public"

# BASE URL
NEXT_BASE_URL="https://your-domain.com"

# CONFIGURATION CLERK https://clerk.com/
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=<publishable-key-clerk>
CLERK_SECRET_KEY=<secret-key-clerk>

# STRIPE PRICE ID
STRIPE_PREMIUM_PLAN_PRICE_ID="<product-id-stripe>"

# STRIPE (DEVELOPER = "*_test_*") OR (PRODUCTION = "*_live_*")
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="<publishable-key-stripe>"
STRIPE_SECRET_KEY="<secret-key-stripe>"

# STRIPE WEBHOOK SECRET
STRIPE_WEBHOOK_SECRET="<stripe-webhook-secret>"

# STRIPE CUSTOMER PORTAL
NEXT_PUBLIC_STRIPE_CUSTOMER_PORTAL_URL="https://billing.stripe.com/p/login/<HASH_ID_CUSTOMER_PORTAL>"

# OPENAI API KEY
OPENAI_API_KEY="<openai-api-key>"